body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  overflow: scroll;
}

p {
  margin: 0;
  padding: 0;
}

  /*GRID*/
.general-grid {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 40vh 60vh 40vh 60vh;
  grid-template-areas:
  "top-right"
  "top-left"
  "bottom-left"
  "bottom-right";
}

/*INSTA PICTURE*/

.top-left {
  grid-area: top-left;
  position: relative;
}

.runner {
  width:100%;
  height:100%;
}

.insta-logo {
  font-size: 2.8vw;
}

.instaname {
  display: flex;
  align-items: center;
  color: white;
  position: absolute;
  left: 5vw;
  bottom: 1.6vh;
  font-size: 1.4vw;
}

/*INFO SECTION*/

.bottom-left {
  grid-area: bottom-left;
  background-color: #DCDCDC;
  position: relative;
}

.track {
  width:100%;
  height:100%;
  opacity: 0.1;
}

.info-grid {
  position: absolute;
  left: 13vw;
  bottom: 3vh;
  font-weight: lighter;
  color: #1D3790;
  display: grid;
  grid-template-columns: 30vw 45vw;
  grid-template-rows: 17vh 8vh;
  grid-template-areas:
  "main-info main-info"
  "info-one info-two";
}

.main-info {
  grid-area: main-info;
}
.info-one {
  grid-area: info-one;
}

.info-two {
  grid-area: info-two;
}

.info-title {
  font-size: 5.1vw;
  margin-bottom: 1vh;
}

.info-sub {
  font-size: 2.5vw;
  margin-bottom: 0.5vh;
}

/*VIDEO*/

.top-right {
  grid-area: top-right;
  background-image: url("chuck.jpg");
  background-position: center;
  background-size: cover;
  background-color: white;
  position:relative;
  overflow: hidden;
}
/*while video is loading background image will be displayed*/

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position:absolute;
  bottom: -30%;
}

.overlay {
    position:absolute;
    bottom: 4vh;
    left: 8vw;
    right: 8vw;
    z-index: 1;
    color: white;
    font-weight: lighter;
    opacity: 0.8;
    text-shadow:2px 2px 2px black;
}

.video-title {
  font-size: 6vw;
}

.video-sub {
  padding-top: 2vh;
  font-size: 3.5vw;
}

/*PRODUCT PICTURE*/

.bottom-right {
  grid-area: bottom-right;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.sock {
  width:80%;
  height:80%;
  z-index: 1;
  position: relative;
}

.sock {
  -webkit-filter: drop-shadow(2px 30px 15px #222 );
  filter: drop-shadow(0px 30px 20px #333);
}

.line {
  width: 120%;
  height: 3%;
  background: #1D3690;
  position: absolute;
  left: -62%;
  bottom: 31%;
}
/*All 3 lines same size, start from same point*/

.left-line {
  transform: rotate(35deg);
  transform-origin: 102%;
}
.right-line {
  transform: rotate(140deg);
  transform-origin: 99%;
}

.bottom-line {
  transform: rotate(-40deg);
  transform-origin: 99%;
}


/*DESKTOP DISPLAY*/

@media(min-width: 600px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*GRID*/
  .general-grid {
    display: grid;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 38vh 18vh 38vh;
    grid-template-areas:
    "top-left top-right"
    "top-left bottom-right"
    "bottom-left bottom-right";
  }

  /*TOP LEFT / INSTA PICTURE*/
  .insta-logo {
    font-size: 1.4vw;
  }

  .instaname {
    left: 2.9vw;
    bottom: 3.1vh;
    font-size: 0.7vw;
  }

  /*BOTTOM LEFT / INFO SECTION*/
  .info-grid {
  left: 3vw;
  bottom: 3vh;
  grid-template-columns: 8vw 20vw;
  grid-template-rows: 17vh 6vh;
  grid-template-areas:
  "main-info main-info"
  "info-one info-two";
  }

  .info-title {
  font-size: 1.8vw;
  }

  .info-sub {
  font-size: 0.8vw;
  }

  /*TOP RIGHT / VIDEO*/
  .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position:absolute;
    bottom: -1%;
  }

  .overlay {
    bottom: 6vh;
    left: 2vw;
    right: 12vw;
  }

  .video-title {
    font-size: 3vw;
    text-shadow:1px 1px 1px black;
  }

  .video-sub {
    padding-top: 2vh;
    font-size: 0.9vw;
    font-weight: lighter;
    text-shadow:1px 1px 1px black;
  }
}

@media(min-width: 700px) {
  .video {
    bottom: -10%;
  }
}

@media(min-width: 830px) {
  .video {
    bottom: -20%;
  }
}





